.footer-is-light .store-footer .store-footer__inner {
    background: #019796;
    color: white;
}
.sicon-menu:before,.top-navbar {
     color: white !important;
}
.store-footer h3 {
    background: #f8b317;
     text-align: center;
    border-radius: 12px;
    padding: 3px;
}
.footer-is-light .store-footer {
    border-top-left-radius: 50px;
    overflow: hidden;
    border-top-right-radius: 50px;
}
body.index {
    
    background: #008584 !important;
}
div#mainnav {
    background: #018683;
}
.main-menu li.root-level>a,.s-cart-summary-total,.sicon-shopping-bag:before,.sicon-user-circle:before ,.s-product-card-content-title a,.s-product-card-sale-price h4,.s-slider-block__title h2,.s-product-card-content-subtitle{
    color: white !important;
}
.s-product-card-sale-price h4 {
    color: white !important;
}
.s-button-primary-outline {
    background: #f8b317;
    color: white;
    border-radius: 22px;
}
.s-product-card-content-title a,.s-product-card-content-sub {
    text-align: center;
    justify-content: center;
}
.s-product-card-vertical {
    background: #019796;
}
[dir=rtl] salla-slider.photos-slider .swiper {
    padding-right: 0rem !important;
}
/* mover banner///////////////// */ 
  [dir=rtl] .carousel-slider .swiper {
    padding-left: 0rem !important;
}
salla-slider.photos-slider .swiper-slide {
    position: relative;
   margin: 0px !important;
    padding: 0px;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0rem;
}
.rounded-md {
    border-radius: 0rem !important;
}
.swiper.s-slider-container.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-rtl.swiper-backface-hidden {
    padding: 0px;
}
section:first-of-type.s-block.s-block--photos-slider {
    margin: 0px !important;
}

/* categoryyy//////////////// */ 
.grid.one-row.md\:grid-cols-2.grid-flow-row.gap-3.sm\:gap-8{
    display: flex;
    flex-wrap: wrap;
}
.lazy__bg.lazy.entered.loaded {
    background-size: contain;
    background-repeat: no-repeat;
}
 .banner--fixed img {
    background: #faebd700;
}   

.banner-entry {
    width: 47%;
    height: 300px !important;
    background: #f9fafb00;
}
    
/* Media Query for Mobile Devices */ 
 @media (max-width: 480px) { 
     .store-footer h3 {
     width: 222px;
  }
           .banner-entry {
    width: 48%;
     height: 130px !important;
         background: #f9fafb00;
    }
  } 
/* Media Query for low resolution  Tablets, Ipads */ 
       
@media (min-width: 481px) and (max-width: 767px) { 
  .store-footer h3 {
     width: 222px;
  }
    .banner-entry {
    width: 47%;
    height: 177px !important;
    background: #f9fafb00;
    }
 }
